<!DOCTYPE html>
<html>
	<head></head>
	<body>
		<table style="font-family: Arial; width: 100%; border: none; border-collapse: collapse; border-spacing: 0; background-color: #f2eaf3;">
			<tr>
				<td style="padding: 40px 20px 25px 20px;">
					<h2 style="color: #791f7e; font-size: 16px; font-weight: bold; margin: 0 0 20px 0;">Tisztelt {{ contactData.lastName }} {{ contactData.firstName }}!</h2>
					<p style="color: #791f7e; font-size: 14px; font-weight: normal; margin: 0 0 18px 0;">Koszonjuk, hogy a kozelmultban felkereste a Vidanet ugyfelszolgalatat! Remeljuk valaszt kapott a kerdeseire.</p>
					<p style="color: #791f7e; font-size: 14px; font-weight: normal; margin: 0 0 18px 0;">Rendkivul fontos szamunkra, hogy a meglevo vagy jovobeli ugyfeleink a leheto legjobbkiszolgalasban reszesuljenek az ugyintezes alkalmaval.</p>
					<p style="color: #791f7e; font-size: 14px; font-weight: normal; margin: 0 0 18px 0;">Mivel az On velemenye is fontos szamunkra, ezert arra kerjuk, egy egyszeru ertekelessel jaruljonhozza munkank minosegenek javitasahoz.</p>
					<p style="color: #791f7e; font-size: 14px; font-weight: normal; margin: 0 0 18px 0;">Kerjuk, ertekelje az Ont a mai napon {{ contactData.contactHappenedAt|date('H') }} órakor, [HELYSZIN-en/TELEFON-on] kiszolgalo kollegank munkajat es a kiszolgalas szinvonalat a lenti csillagok hasznalataval.</p>
					<h3 style="color: #791f7e; font-size: 16px; font-weight: bold; margin: 0 0 7px 0; text-align: center;">Pop Simon</h3>
					<div style="height: 120px; margin: 0 auto 30px auto; text-align: center;">
						<img src="http://balintfeco.hu/vidanet/face.png" style="width: 120px; height: 120px; border-radius: 120px;" alt="Pop Simon" />
					</div>
					<h4 style="color: #791f7e; font-size: 14px; font-weight: bold; margin: 0 0 10px 0; text-align: center;">Az On ertekelese a kiszolgalasrol (kerjuk, hasznalja a csillagokat):</h4>
					<table style="width: 445px; border-collapse: collapse; border-spacing: 0; table-layout: fixed; margin: 0 auto 35px auto;">
						<tr>
							<td style="height: 75px;"><a href="http://index.hu" style="border: none; text-decoration: none; display: block; height: 75px; margin: 0 auto; width: 79px;"><img src="http://balintfeco.hu/vidanet/star_1.png" style="border: none; width: 79px; height: 75px;" /></a></td>
							<td style="height: 75px;"><a href="http://cnn.com" style="border: none; text-decoration: none; display: block; height: 75px; margin: 0 auto; width: 79px;"><img src="http://balintfeco.hu/vidanet/star_2.png" style="border: none; width: 79px; height: 75px;" /></a></td>
							<td style="height: 75px;"><a href="#" style="border: none; text-decoration: none; display: block; height: 75px; margin: 0 auto; width: 79px;"><img src="http://balintfeco.hu/vidanet/star_3.png" style="border: none; width: 79px; height: 75px;" /></a></td>
							<td style="height: 75px;"><a href="#" style="border: none; text-decoration: none; display: block; height: 75px; margin: 0 auto; width: 79px;"><img src="http://balintfeco.hu/vidanet/star_4.png" style="border: none; width: 79px; height: 75px;" /></a></td>
							<td style="height: 75px;"><a href="#" style="border: none; text-decoration: none; display: block; height: 75px; margin: 0 auto; width: 79px;"><img src="http://balintfeco.hu/vidanet/star_5.png" style="border: none; width: 79px; height: 75px;" /></a></td>
						</tr>
					</table>
					<p style="color: #791f7e; font-size: 14px; font-weight: normal; margin: 0 0 18px 0;">Koszonjuk a visszajelzeset!</p>
				</td>
			</tr>
			<tr>
				<td style="height: 10px; background-color: #fff;"></td>
			</tr>
			<tr>
				<td style="padding: 10px 20px; color: #791f7e; font-size: 14px; font-weight: normal;">Nem lepett kapcsolatba Vidanet ugyfelszolgalattal? Kerjuk jelezze <a href="#" style="color: #f9a350; text-decoration: none; text-transform: uppercase;">ITT</a>, hogy eltavolithassuk emailcimet a rendszerunkbol.</td>
			</tr>
			<tr>
				<td style="height: 10px; background-color: #fff;"></td>
			</tr>
			<tr>
				<td style="background-color: #656565; padding: 10px 20px;">
					<p style="float: left; color: #fff; font-size: 12px; margin: 0; line-height: 27px;">Az ertekeles technikai tamogatoja a RateMe<span style="float: right; margin-left: 10px;"><img src="http://balintfeco.hu/vidanet/logo.png" alt="logo" style="border: none; width: 30px; height: 27px;" /></span></p>
					<div style="clear: both;"></div>
					<p style="float: left; color: #fff; font-size: 12px; margin: 0;">Az On uzletenek is fontos a fogyasztoi velemenye? Irjon nekunk az <a href="mailto:info@rate.me.uk" style="color: #fff; text-decoration: none;">info@rate.me.uk</a> cimre.</p>
				</td>
			</tr>
		</table>
	</body>
</html>
