@charset "utf-8";

@font-face {
	font-family: 'DINProH-Bold';
	src: url('/fonts/dinprohbold.eot');
	src: url('/fonts/dinprohbold.eot?#iefix') format('embedded-opentype'),
		 url('/fonts/dinprohbold.woff') format('woff'),
		 url('/fonts/dinprohbold.ttf') format('truetype'),
		 url('/fonts/dinprohbold.svg#dinprohbold') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'DINProH-Light';
	src: url('/fonts/dinprohlight.eot');
	src: url('/fonts/dinprohlight.eot?#iefix') format('embedded-opentype'),
		 url('/fonts/dinprohlight.woff') format('woff'),
		 url('/fonts/dinprohlight.ttf') format('truetype'),
		 url('/fonts/dinprohlight.svg#dinprohlight') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'DINProH-Medium';
	src: url('/fonts/dinprohmedium.eot');
	src: url('/fonts/dinprohmedium.eot?#iefix') format('embedded-opentype'),
		 url('/fonts/dinprohmedium.woff') format('woff'),
		 url('/fonts/dinprohmedium.ttf') format('truetype'),
		 url('/fonts/dinprohmedium.svg#dinprohmedium') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'DINProH-Regular';
	src: url('/fonts/dinprohregular.eot');
	src: url('/fonts/dinprohregular.eot?#iefix') format('embedded-opentype'),
		 url('/fonts/dinprohregular.woff') format('woff'),
		 url('/fonts/dinprohregular.ttf') format('truetype'),
		 url('/fonts/dinprohregular.svg#dinprohregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

/*  ordinary stuff */
* {
	padding: 0;
	margin: 0;
}

.clearfix {
	clear: both;
}

.wrap {
	margin: 0 auto;
	max-width: 800px;
	width: 100%;
}

/* buttons */
.btn_cont.yellow {
	background-color: #a2ca00;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a2ca00', endColorstr='#9bc100');
	background: -webkit-gradient(linear, left top, left bottom, from(#a2ca00), to(#9bc100)); 
	background: -moz-linear-gradient(top,  #a2ca00,  #9bc100);	
	background: -o-linear-gradient(top,  #a2ca00,  #9bc100);
	border-radius: 4px;
	cursor: pointer;
	height: 44px;
	margin-top: 25px;
	width: 100%;	
}
.btn_cont.yellow input {
	background-color: #aad300;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#aad300', endColorstr='#c2dc00');
	background: -webkit-gradient(linear, left top, left bottom, from(#aad300), to(#c2dc00)); 
	background: -moz-linear-gradient(top,  #aad300,  #c2dc00);	
	background: -o-linear-gradient(top,  #aad300,  #c2dc00);
	box-shadow: inset 0px -2px 2px rgba(255, 255, 255, 0.62);
	border: none;
	border-radius: 4px;
	color: #5b5b5b;
	cursor: pointer;
	font-family: 'DINProH-Medium';
	font-size: 26px;
	height: 39px;
	line-height: 44px;
	text-shadow: 0px -1px #ecf5bf;
	width: 100%;	
}


/* main style */
html {
	width: 100%;
	height: 100%;
}
body {
	background: transparent url('/images/repeater_bg.png') top left repeat;
	min-height: 100%;
	height: 100%;
	overflow: hidden;
	width: 100%;
}

.bg_grad {
	height: 100%;
	width: 100%;
}

.content {
	background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,0.10) 0%, rgba(255,255,255,0.10) 18%, rgba(0,0,0,0.49) 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,0.10)), color-stop(18%,rgba(255,255,255,0.10)), color-stop(100%,rgba(0,0,0,0.49))); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,0.10) 0%,rgba(255,255,255,0.10) 18%,rgba(0,0,0,0.49) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,0.10) 0%,rgba(255,255,255,0.10) 18%,rgba(0,0,0,0.49) 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,0.10) 0%,rgba(255,255,255,0.10) 18%,rgba(0,0,0,0.49) 100%); /* IE10+ */
	background: radial-gradient(ellipse at center, rgba(255,255,255,0.10) 0%,rgba(255,255,255,0.10) 18%,rgba(0,0,0,0.49) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7dffffff', endColorstr='#7d000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	position: absolute;
	padding-top: 18px;
	top: 0px;
	left: 0;
	right: 0;
	bottom: 0;
}

.content h2 {
	color: #fa4040;
	font-family: 'DINProH-Regular';
	font-size: 100%;
	line-height: 25px;
	margin-top: 40px;
	text-align: center;
	text-shadow: 0px 1px rgba(0, 0, 0, 0.75);
}

.form {
	background: -moz-linear-gradient(top, rgba(0,0,0,0.51) 0%, rgba(47,47,47,0.5) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.51)), color-stop(100%,rgba(47,47,47,0.5))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(0,0,0,0.51) 0%,rgba(47,47,47,0.5) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(0,0,0,0.51) 0%,rgba(47,47,47,0.5) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(0,0,0,0.51) 0%,rgba(47,47,47,0.5) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(0,0,0,0.51) 0%,rgba(47,47,47,0.5) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#82000000', endColorstr='#802f2f2f',GradientType=0 ); /* IE6-9 */
	box-shadow: inset 0px 1px 5px rgba(0, 0, 0, 0.65), 0px -1px rgba(255, 255, 255, 0.3);
	border-radius: 4px;
	margin: 0 auto;
	padding: 3.125%;
	position: relative;
	text-align: left;
	width: 81.25%;
}

.form .form_input {
	background-color: #e5e5e5;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5e5e5', endColorstr='#ffffff');
	background: -webkit-gradient(linear, left top, left bottom, from(#e5e5e5), to(#ffffff)); 
	background: -moz-linear-gradient(top,  #e5e5e5,  #ffffff);	
	background: -o-linear-gradient(top,  #e5e5e5,  #ffffff);	
	border: none;
	border-radius: 4px;
	box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.76), 0px 1px 1px #dfff58;
	color: #4c4c4c;
	font-family: 'DINProH-Light';
	font-size: 20px;
	height: 40px;
	margin-bottom: 15px;
	position: relative;
	text-align: left;
	width: 100%;
}

.form .form_input input {
	background-color: transparent;
	color: transparent;
	height: 40px;
	padding: 0 2%;
	position: relative;
	outline: none;
	width: 96%;
	z-index: 1;
}

.form .form_input .autocompl_input {
	height: 40px;
	line-height: 44px;
	left: 0;
	padding: 0 2%;
	position: absolute;
	top: 0;
	width: 96%;
	z-index: 0;
}

.form .form_input .autocompl_input .written {
	color: #4c4c4c;
}
.form .form_input .autocompl_input .complition {
	color: #c1c1c1;
}

.form .form_input .autocomp_list {
	background: rgb(0,0,0); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(229,229,229,1) 0%, rgba(255,255,255,1) 19%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(229,229,229,1)), color-stop(19%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(229,229,229,1) 0%,rgba(255,255,255,1) 19%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(229,229,229,1) 0%,rgba(255,255,255,1) 19%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(229,229,229,1) 0%,rgba(255,255,255,1) 19%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(229,229,229,1) 0%,rgba(255,255,255,1) 19%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.32);
	left: 1%;
	padding: 2px 2.5%;
	position: absolute;
	top: 38px;
	width: 93%;
	z-index: 9;
}

.form .form_input .autocomp_list ul {
	list-style: none;
}

.form .form_input .autocomp_list li {
	color: #4c4c4c;
	cursor: pointer;
	font-family: 'DINProH-Light';
	font-size: 16px;
	line-height: 28px;
}

.form .form_input.error {
	box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.76), 0px 1px 1px #dfff58, 0px 1px 0px 2px #d20000;
}

.form h3 {
	color: #d0d0d0;
	font-family: 'DINProH-Regular';
	font-size: 16px;
	line-height: 24px;
	padding: 0 2%;
	text-shadow: 0px 1px rgba(108, 108, 108, 0.75);
}
