{% if collection %}
    <div>{{ collection.name }}</div>
{% endif %}

{% for rateable in rateables %}
    <div style="margin-top:20px;">
        <div><a href="{{ path('rateable_by_id_main', {'id': rateable.id}) }}">{{ rateable.name }}</a></div>
        <div>{{ rateable.typeName }}</div>
    </div>
{% endfor %}

