{% extends '::base.html.twig' %}

{% block javascripts %}
    {{ parent() }}

{% endblock %}

{% block body %}
    {{ parent() }}

    <div class="form center">
        <h2>Köszönjük a regisztrációt!</h2>
        <h3>Kérjük kattints a megerősítő email-ben küldött linkre a regisztrációd véglegesítéséhez.</h3>
        <a href="{{ path('_welcome') }}">
            <div class="btn_cont yellow back_to_home">
                <div class="btn"><h3><div>Vissza a főoldalra</div></h3></div>
            </div>
        </a>
    </div>
{% endblock %}
