<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>RateMe</title>
        <link  rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/acmerating/css/newRating.css') }}" />
        <script type="text/javascript" src="{{ asset('js/jquery.min.js') }}"></script>
        
        <script>
            {% include '::googleAnalytics.js.twig' %}
        </script>
        
        <style media="screen" type="text/css">
            {{ include('AcmeRatingBundle:Rating:customCompanyDesign.css.twig') }}
        </style>
	</head>
	<body>
		<div class="bg-grad">
			<div class="container end-container">
				<div class="wrapper">
                    <p style="margin-bottom: 60px;">Köszönjük! Válaszait elküldtük a cégvezetőnek.</p>

                    <h2>Ön is mérné alkalmazottai teljesítményét?</h2>
                    <p>Most <span style="font-weight:bold;">ingyen</span> kipróbálhatja cégében 1 hónapig!</p>
                    <p>Bővebb információ a <a href="{{ path('_welcome') }}">főoldalon</a> vagy írjon az <a href='mailto:info@rateme.hu'>info@rateme.hu</a> címre!</p>
				</div>
			</div>
			
			<div class="footer">
                <p>
                    Az értékelés technikai támogatója a RateMe.
					<span class="rateme-logo"></span>
                </p>
			</div>
		</div>
	</body>
</html>
