<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>RateMe</title>
        <link  rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/acmerating/css/newRating.css') }}" />
        <script type="text/javascript" src="{{ asset('js/jquery.min.js') }}"></script>
	</head>
	<body>
		<div class="bg-grad">
			<div class="container end-container">
				<div class="wrapper">
					<h2>Köszönjük a válaszokat!</h2>
					<p>Válaszaid segítenek bennünket abban, hogy a következő igazgatósági ülések munkája még hatékonyabb legyen.</p>
					<p>Reméljük, hogy tetszett az alkalmazás is, és bepillantást nyerhettél abba, hogyan keressük ügyfeleink elégedettségét!</p>
				</div>
			</div>
			
			<div class="footer">
                <p>
                    Az értékelés technikai támogatója a RateMe.
					<span class="rateme-logo"></span>
                </p>
                <p>Az Ön üzletének is fontosak a fogyasztói visszajelzések? Írjon nekünk az info@rate.me.uk címre.</p>
			</div>
		</div>
	</body>
</html>
