{% extends '::base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {{ parent() }}

    <div class="wrap">
        <div class="form center">
            <h2>
                {% trans from 'company' %}You already rated this employee during the last seven days. Please try again later.{% endtrans %}
            </h2>
            <h3 class='centeredTitle'>
                {% trans from 'company' %}Please note - Your attempt to rate this employee was logged.{% endtrans %}
            </h3>
            <a href="{{ path('_welcome') }}">
                <div class="btn_cont yellow back_to_home">
                    <div class="btn"><h3><div>{% trans from 'company' %}Back to the homepage{% endtrans %}</div></h3></div>
                </div>
            </a>
        </div>
    </div>
{% endblock %}
