<div class="answerBoxRow">
    <div class="col col-2">
        <input id="naAvailable" class="checkboxInput naAvailableCheckbox" type="checkbox">
        <label class="checkboxInputLabel" for="naAvailable">n/a</label>
    </div>
    <div class="col col-3">
        <div class="input-wrapper">
            <input disabled="disabled" class="inputAnswer_na naInputDisabled" type="text" />
        </div>
    </div>
    <div class="col col-4">
        <div class="btnCont yellowDeepQuestion cancelButton cancelQuestionButton">
            <div class="btnDeepQuestion">
                <h3>
                    <div>{% trans from 'owner' %}cancel{% endtrans %}</div>
                </h3>
            </div>
        </div>
        <div class="btnCont yellowDeepQuestion saveButton saveQuestionButton">
            <div class="btnDeepQuestion">
                <h3>
                    <div>{% trans from 'owner' %}save{% endtrans %}</div>
                </h3>
            </div>
        </div>
    </div>
</div>
